services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: semula-app
    restart: unless-stopped
    ports:
      - "81:80"
    env_file:
      - .env
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db

  db:
    image: mariadb:10.5             
    container_name: semula-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  queue:
    image: semula-app
    container_name: semula-queue
    restart: unless-stopped
    environment:
      role: queue
    env_file: .env
    networks:
      - semula-network
    depends_on:
      - db

volumes:
  db_data: